/*Asi afectamos a todos los h1 y todos los p*/
h1{
    color:red;

}

p{
    color: blue;
}

/*Selectores de ID: #*/

#ponemos-id-de-html{
    color: green;
}

/*Selectores de clase: . */

.encabezado{
    color: blueviolet;
    font-size: larger;
}

/*Selector universal: *   Se le pone a todos los elementos que no tengan nada definido en el css o por ej*/

*.claseASatisfacer{
    color: aqua;
}

/*Mezclando funcionalidades*/

.clase1, .clase2, .clase3, h6, #id_cualquier{
    text-decoration: underline;
} 