/*Esilos para colores  https://coolors.co/211103-3d1308-7b0d1e-9f2042-f8e5ee*/
.colores{
    
}

.color-hexadecimal{
    color: #3D1308;
}

.color-rgb{
    color: rgb(100, 0,0); /*color: rgb(red, green, blue)*/
}

.color-rgba{
    color: rgba(1,0,0, 0.5);  /*color: rgba(red, green, blue, alpha);*/
}


/*Fondos*/

.fondo{
    /*background-color: aqua;*/
    background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2021/09/mejor-aplicacion-fondos-pantalla-animados-llegaria-android-dentro-poco-2482649.jpg?itok=MzFSaRMp");
    background-position: center center ; /*en x en y*/
}

/*Tamaño*/
.ancho{
    background-color: bisque;
    width: 100px;
}
.alto{
    background-color: aqua;
    height: 500px;
}

.tarjeta{
    border-style: solid;
    border-color: blueviolet;
    border-width: 0.5px;
    /*border-top: none;*/
    padding: 10px 20px; /*padding: arriba derecha abajo izq;   como un reloj*/
    margin: 10px 10px;

}